.circle-hover {
    transition: background-color ease 0.3s;
    border-radius: 50%;
    padding: clamp(8px, 0.6vw, 12px);
}

.circle-hover:hover {
    border: none;
    border-radius: 50%;
    background-color: #dddddd;
}

.error {
    color: red;
    font-size: 0.8rem;
    font-family: sans-serif;
    font-weight: 600;
}

.normal-text {
    font-size: clamp(1rem, 1.2vw, 1.8vw);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.center-normal-bold {
    text-align: center;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.center-large-bold {
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.normal-bold {
    font-size: clamp(16px, 1.1vw, 1.3rem);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.normal-text {
    font-size: clamp(12px, 0.9vw, 1.2rem);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.large-bold {
    font-size: clamp(20px, 1.5vw, 1.8rem);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.small-icon {
    width: clamp(18px, 1vw, 48px);
    height: auto;
}

.normal-icon {
    width: clamp(24px, 1.2vw, 42px);
    height: auto;
}