#story-area {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 2vw 6vw;
    box-sizing: border-box;
}

#information-area {
    display: flex;
    gap: 3vw;
    width: 100%;
}

#text-information-area {
    flex: 1;
    height: 100%;
}

#image {
    width: 30%;
    aspect-ratio: 9 / 16;
    object-fit: contain;
    border: 1px solid #aaa;
    border-radius: 8px;
}

#generic-information {
    display: grid;
    gap: 4px 8x;
    grid-template-columns: 180px auto;
}

#story-name {
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
}

.medium-text {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.large-text {
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

#list-category {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 12px;
}

#list-category p {
    text-align: center;
    padding: 10px 16px;
    background-color: rgb(42, 255, 255);
    border-radius: 8px;
}

#story-decription {
    font-family: sans-serif;
    font-size: 1.1rem;
}

#chapter-area {
    display: grid;
    grid-template-columns: auto auto;
}