#rct-chapter-content {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 2vw 6vw;
    box-sizing: border-box;
    margin-bottom: 4vw;
}

#rct-story-name {
    text-align: center;
    font-size: 1.1rem;
    font-family: sans-serif;
    font-weight: 700;
}

#rct-change-chapter-area {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#rct-after,
#rct-before {
    padding: 1vw 2vw;
    border-radius: 8px;
    border: 1px solid #aaa;
    background-color: rgb(42, 255, 255);
    cursor: pointer;
}

#rct-now {
    flex: 1;
    padding: 1vw 2vw;
    border-radius: 8px;
    border: 1px solid #aaa;
}
