#register-content {
    background-color: white;
    border-radius: 12px;
    border: 1px solid #aaa;
    aspect-ratio: 11 / 12;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(8px, 2vh, 3vh);
}

#register-input-name,
#register-input-account,
#register-input-password,
#register-input-rewrite-password {
    width: 100%;
    padding: clamp(12px, 0.9vw, 1.5vw) clamp(12px, 1.2vw, 1.5vw);
    border-radius: 6px;
    box-sizing: border-box;
}

.register-input-container {
    position: relative;
    width: 80%;
}

#register-error-name-message,
#register-error-rewrite-password-message,
#register-error-password-message,
#register-error-email-message {
    text-align: left;
    color: red;
    font-family: sans-serif;
    margin-top: 4px;
    font-size: 0.9em;
}

#register-button {
    border-radius: 8px;
    border: none;
    width: 80%;
    margin-top: max(8px, 0.8vw);
    padding: clamp(16px, 1.1vw, 1.5vw) clamp(12px, 1.2vw, 1.5vw);
    cursor: pointer;
    background-image: linear-gradient(to right, aqua, lightblue);
}

#register-go-to-login {
    cursor: pointer;
    color: aqua;
}

#register-sign-in-with-google {
    border: 1px solid #aaa;
    border-radius: 8px;
    padding: clamp(12px, 0.8vw, 1.1vw) clamp(12px, 1.2vw, 1.5vw);
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    background-color: rgb(248, 248, 248);
}
