#user-information-content {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 2vw 6vw;
    box-sizing: border-box;
    align-items: center;
}

#user-information-content #avatar-area {
    margin-top: 1vw;
    width: 10vw;
    height: 10vw;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

#user-information-content #user-avatar {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

#user-information-content #input-avatar {
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#user-information-content #space-area {
    margin-top: 1vw;
    border-radius: 12px;
    box-shadow: 4px 4px 2px 2px rgb(16, 16, 16, 0.1);
    flex-direction: column;
    padding: 2vw;
    width: 100%;
    border: 1px solid #aaaaaa;
}

#user-information-content .input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#user-information-content .input-box img {
    width: 2vw;
    height: 2vw;
}

#user-information-content .input-box p {
    font-family: sans-serif;
    font-size: 1.1em;
}

#user-information-content #logout {
    padding: 1.2vw 0px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: #39e1e9;
    cursor: pointer;
}